@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    background-size: cover;
    font-family: "poppins";
}
.conteinar{
    position: relative;
    z-index: 1;
    background-image: linear-gradient(#66ffcc, #ffffff);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 1px 1px 0 0 #d7f3f2;
}
.nbox{
    margin: auto;
    border-color: black;
    border:solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
}
.button{
    font-family: "poppins";
    text-transform: uppercase;
    outline: 0;
    background-color: #6e8180;
    border: 0;
    padding: 2px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.button:hover {
    background-color: #4ba8a4;
    position: relative;
}

