@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    background-size: cover;
    font-family: "poppins";
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}
input{
    margin: 5PX;
    color: white;
    background-color: rgb(113, 113, 113);
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    outline: none;
}
button{
    margin: 5px;
    color: white;
    background-color: rgb(113, 113, 113);
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    outline: none;
}
button:hover{
    background-color: rgb(130, 130, 130);
    color: white;
    scale: 1.1;
}
button:active{
    background-color: rgb(100, 100, 100);
    color: white;
    scale: 1.1;
}

#copy{
    color: white;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    outline: none;
}
#copy:hover{
    background-color: #e6e6e6;
    color: white;
    scale: 1.1;
}
#copy:active{
    background-color: #d9d9d9;
    color: white;
    scale: 1.1;
}
img{
    width:20px;
    height: 20px;
}